<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="excavator">

    <xacro:include filename="$(find earth_gz_ign)/urdf/params.xacro" />
    <xacro:include filename="$(find earth_gz_ign)/urdf/joints.xacro" />
    <xacro:include filename="$(find earth_gz_ign)/urdf/dynamics.xacro" />
    
    <link name="base_link"/>

    <link name="cabin_base">
        <visual>
            <origin xyz="${cabin_base_origin}" rpy="${cabin_base_rpy}" />
            <geometry>
                <mesh filename="${cabin_base_mesh}"/>
            </geometry>
            <material name="compact_excavator_cabin_body_material">
                <color rgba="${cabin_base_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${cabin_base_origin}" rpy="${cabin_base_rpy}" />
            <geometry>
                <mesh filename="${cabin_base_mesh}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${cabin_inertial_origin}" rpy="${cabin_inertial_rpy}"/>
            <mass value="${cabin_base_mass}" />
            <inertia
                ixx="${cabin_base_inertial.split()[0]}"
                ixy="${cabin_base_inertial.split()[1]}"
                ixz="${cabin_base_inertial.split()[2]}"
                iyy="${cabin_base_inertial.split()[3]}"
                iyz="${cabin_base_inertial.split()[4]}"
                izz="${cabin_base_inertial.split()[5]}"
            />
            
        </inertial>
    </link>

    <link name="turret_base">
        <visual>
            <origin xyz="${turret_base_origin}" rpy="${turret_base_rpy}" />
            <geometry>
                <mesh filename="${turret_base_mesh}"/>
            </geometry>
            <material name="compact_excavator_frame_body_material">
                <color rgba="${turret_base_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${turret_base_origin}" rpy="${turret_base_rpy}" />
            <geometry>
                <mesh filename="${turret_base_mesh}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${turret_base_inertial_origin}" rpy="${turret_base_inertial_rpy}"/>
            <mass value="${turret_base_mass}" />
            <inertia
                ixx="${turret_base_inertial.split()[0]}"
                ixy="${turret_base_inertial.split()[1]}"
                ixz="${turret_base_inertial.split()[2]}"
                iyy="${turret_base_inertial.split()[3]}"
                iyz="${turret_base_inertial.split()[4]}"
                izz="${turret_base_inertial.split()[5]}"
            />
        </inertial>
    </link>

    <link name="left_spinning_wheel_link">
        <visual>
            <origin xyz="${left_spinning_wheel_link_origin}" rpy="${left_spinning_wheel_link_rpy}" />
            <geometry>
                <mesh filename="${left_spinning_wheel_link_mesh}"/>
            </geometry>
            <material name="compact_excavator_main_drive_wheel_material">
                <color rgba="${left_spinning_wheel_link_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${left_spinning_wheel_link_origin}" rpy="${left_spinning_wheel_link_rpy}" />
            <geometry>
                <mesh filename="${left_spinning_wheel_link_mesh}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${left_spinning_wheel_link_inertial_origin}" rpy="${left_spinning_wheel_link_inertial_rpy}"/>
            <mass value="${left_spinning_wheel_link_mass}" />
            <inertia
                ixx="${left_spinning_wheel_link_inertial.split()[0]}"
                ixy="${left_spinning_wheel_link_inertial.split()[1]}"
                ixz="${left_spinning_wheel_link_inertial.split()[2]}"
                iyy="${left_spinning_wheel_link_inertial.split()[3]}"
                iyz="${left_spinning_wheel_link_inertial.split()[4]}"
                izz="${left_spinning_wheel_link_inertial.split()[5]}"
            />
        </inertial>
    </link>

    <link name="right_spinning_wheel_link">
        <visual>
            <origin xyz="${right_spinning_wheel_link_origin}" rpy="${right_spinning_wheel_link_rpy}" />
            <geometry>
                <mesh filename="${right_spinning_wheel_link_mesh}"/>
            </geometry>
            <material name="compact_excavator_main_drive_wheel_material">
                <color rgba="${right_spinning_wheel_link_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${right_spinning_wheel_link_origin}" rpy="${right_spinning_wheel_link_rpy}" />
            <geometry>
                <mesh filename="${right_spinning_wheel_link_mesh}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${right_spinning_wheel_link_inertial_origin}" rpy="${right_spinning_wheel_link_inertial_rpy}"/>
            <mass value="${right_spinning_wheel_link_mass}" />
            <inertia
                ixx="${right_spinning_wheel_link_inertial.split()[0]}"
                ixy="${right_spinning_wheel_link_inertial.split()[1]}"
                ixz="${right_spinning_wheel_link_inertial.split()[2]}"
                iyy="${right_spinning_wheel_link_inertial.split()[3]}"
                iyz="${right_spinning_wheel_link_inertial.split()[4]}"
                izz="${right_spinning_wheel_link_inertial.split()[5]}"
            />
        </inertial>
    </link>

    <link name="left_front_wheel_link">
        <visual>
            <origin xyz="${left_front_wheel_link_origin}" rpy="${left_front_wheel_link_rpy}" />
            <geometry>
                <mesh filename="${left_front_wheel_link_mesh}"/>
            </geometry>
            <material name="compact_excavator_front_wheel_material">
                <color rgba="${left_front_wheel_link_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${left_front_wheel_link_origin}" rpy="${left_front_wheel_link_rpy}" />
            <geometry>
                <mesh filename="${left_front_wheel_link_mesh}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${left_front_wheel_link_inertial_origin}" rpy="${left_front_wheel_link_inertial_rpy}"/>
            <mass value="${left_front_wheel_link_mass}" />
            <inertia
                ixx="${left_front_wheel_link_inertial.split()[0]}"
                ixy="${left_front_wheel_link_inertial.split()[1]}"
                ixz="${left_front_wheel_link_inertial.split()[2]}"
                iyy="${left_front_wheel_link_inertial.split()[3]}"
                iyz="${left_front_wheel_link_inertial.split()[4]}"
                izz="${left_front_wheel_link_inertial.split()[5]}"
            />
        </inertial>
    </link>

    <link name="right_front_wheel_link">
        <visual>
            <origin xyz="${right_front_wheel_link_origin}" rpy="${right_front_wheel_link_rpy}" />
            <geometry>
                <mesh filename="${right_front_wheel_link_mesh}"/>
            </geometry>
            <material name="compact_excavator_front_wheel_material">
                <color rgba="${right_front_wheel_link_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${right_front_wheel_link_origin}" rpy="${right_front_wheel_link_rpy}" />
            <geometry>
                <mesh filename="${right_front_wheel_link_mesh}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${right_front_wheel_link_inertial_origin}" rpy="${right_front_wheel_link_inertial_rpy}"/>
            <mass value="${right_front_wheel_link_mass}" />
            <inertia
                ixx="${right_front_wheel_link_inertial.split()[0]}"
                ixy="${right_front_wheel_link_inertial.split()[1]}"
                ixz="${right_front_wheel_link_inertial.split()[2]}"
                iyy="${right_front_wheel_link_inertial.split()[3]}"
                iyz="${right_front_wheel_link_inertial.split()[4]}"
                izz="${right_front_wheel_link_inertial.split()[5]}"
            />
        </inertial>
    </link>

    <link name="push_blade_base">
        <visual>
            <origin xyz="${push_blade_base_origin}" rpy="${push_blade_base_rpy}" />
            <geometry>
                <mesh filename="${push_blade_base_mesh}"/>
            </geometry>
            <material name="push_blade_base_material">
                <color rgba="${push_blade_base_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${push_blade_base_origin}" rpy="${push_blade_base_rpy}" />
            <geometry>
                <mesh filename="${push_blade_base_mesh}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${push_blade_base_inertial_origin}" rpy="${push_blade_base_inertial_rpy}"/>
            <mass value="${push_blade_base_mass}" />
            <inertia
                ixx="${push_blade_base_inertial.split()[0]}"
                ixy="${push_blade_base_inertial.split()[1]}"
                ixz="${push_blade_base_inertial.split()[2]}"
                iyy="${push_blade_base_inertial.split()[3]}"
                iyz="${push_blade_base_inertial.split()[4]}"
                izz="${push_blade_base_inertial.split()[5]}"
            />
        </inertial>
    </link>

    <link name="swing_base">
        <visual>
            <origin xyz="${swing_base_origin}" rpy="${swing_base_rpy}" />
            <geometry>
                <mesh filename="${swing_base_mesh}"/>
            </geometry>
            <material name="part01_pin_1_material">
                <color rgba="${swing_base_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${swing_base_origin}" rpy="${swing_base_rpy}" />
            <geometry>
                <mesh filename="${swing_base_mesh}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${swing_base_inertial_origin}" rpy="${swing_base_inertial_rpy}"/>
            <mass value="${swing_base_mass}" />
            <inertia
                ixx="${swing_base_inertial.split()[0]}"
                ixy="${swing_base_inertial.split()[1]}"
                ixz="${swing_base_inertial.split()[2]}"
                iyy="${swing_base_inertial.split()[3]}"
                iyz="${swing_base_inertial.split()[4]}"
                izz="${swing_base_inertial.split()[5]}"
            />
        </inertial>
    </link>

    <link name="boom_base">
        <visual>
            <origin xyz="${boom_base_origin}" rpy="${boom_base_rpy}" />
            <geometry>
                <mesh filename="${boom_base_mesh}"/>
            </geometry>
            <material name="part02_material">
                <color rgba="${boom_base_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${boom_base_origin}" rpy="${boom_base_rpy}" />
            <geometry>
                <mesh filename="${boom_base_mesh}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${boom_base_inertial_origin}" rpy="${boom_base_inertial_rpy}"/>
            <mass value="${boom_base_mass}" />
            <inertia
                ixx="${boom_base_inertial.split()[0]}"
                ixy="${boom_base_inertial.split()[1]}"
                ixz="${boom_base_inertial.split()[2]}"
                iyy="${boom_base_inertial.split()[3]}"
                iyz="${boom_base_inertial.split()[4]}"
                izz="${boom_base_inertial.split()[5]}"
            />
        </inertial>
    </link>

    <link name="arm_base">
        <visual>
            <origin xyz="${arm_base_origin}" rpy="${arm_base_rpy}" />
            <geometry>
                <mesh filename="${arm_base_mesh}"/>
            </geometry>
            <material name="part03_material">
                <color rgba="${arm_base_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${arm_base_origin}" rpy="${arm_base_rpy}" />
            <geometry>
                <mesh filename="${arm_base_mesh}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${arm_base_inertial_origin}" rpy="${arm_base_inertial_rpy}"/>
            <mass value="${arm_base_mass}" />
            <inertia
                ixx="${arm_base_inertial.split()[0]}"
                ixy="${arm_base_inertial.split()[1]}"
                ixz="${arm_base_inertial.split()[2]}"
                iyy="${arm_base_inertial.split()[3]}"
                iyz="${arm_base_inertial.split()[4]}"
                izz="${arm_base_inertial.split()[5]}"
            />
        </inertial>
    </link>
   
    <link name="${bucket_link_name}">
        <visual>
            <origin xyz="${bucket_mesh1_origin}" rpy="${bucket_mesh1_rpy}" />
            <geometry>
                <mesh filename="${bucket_mesh1}"/>
            </geometry>
            <material name="part04_material">
                <color rgba="${bucket_mesh1_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${bucket_mesh1_origin}" rpy="${bucket_mesh1_rpy}" />
            <geometry>
                <mesh filename="${bucket_mesh1}"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="${bucket_inertial_origin}" rpy="${bucket_inertial_rpy}"/>
            <mass value="${bucket_base_mass}" />
            <inertia
                ixx="${bucket_base_inertial.split()[0]}"
                ixy="${bucket_base_inertial.split()[1]}"
                ixz="${bucket_base_inertial.split()[2]}"
                iyy="${bucket_base_inertial.split()[3]}"
                iyz="${bucket_base_inertial.split()[4]}"
                izz="${bucket_base_inertial.split()[5]}"
            />
        </inertial>
        <visual>
            <origin xyz="${bucket_mesh2_origin}" rpy="${bucket_mesh2_rpy}" />
            <geometry>
                <mesh filename="${bucket_mesh2}"/>
            </geometry>
            <material name="bucket_material">
                <color rgba="${bucket_mesh2_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${bucket_mesh2_origin}" rpy="${bucket_mesh2_rpy}" />
            <geometry>
                <mesh filename="${bucket_mesh2}"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="${bucket_mesh3_origin}" rpy="${bucket_mesh3_rpy}" />
            <geometry>
                <mesh filename="${bucket_mesh3}"/>
            </geometry>
            <material name="bucket_mount_material">
                <color rgba="${bucket_mesh3_material}"/>
            </material>
        </visual>
        <collision>
            <origin xyz="${bucket_mesh3_origin}" rpy="${bucket_mesh3_rpy}" />
            <geometry>
                <mesh filename="${bucket_mesh3}"/>
            </geometry>
        </collision>
    </link>
   
    
    <xacro:skid_wheel wheel_name="${left_skid_wheel_spinning_link_name}" mu1="1" mu2="1"/>
    <xacro:skid_wheel wheel_name="${left_skid_wheel_free_link_name}" mu1="1" mu2="1"/>
    <xacro:skid_wheel wheel_name="${right_skid_wheel_spinning_link_name}" mu1="1" mu2="1"/>
    <xacro:skid_wheel wheel_name="${right_skid_wheel_free_link_name}" mu1="1" mu2="1"/>
    
    <xacro:dynamics_plugins/>
</robot>
